:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #474747;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* outline: 0.1px dotted red; */
}

body {
  margin: 2rem;
}

/* Top Portion */
.title {
  text-align: center;
  font-size: 5rem;
  margin: 2rem 0;
}

.versionNo {
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.8rem;
}

/* Date Picker */
.datePicker-container {
  display: flex;
  justify-content: center;
}

.datePicker-container input {
  height: 2rem;
  text-align: center;
  font-size: 1.1rem;
  background-color: #505050;
  margin-bottom: 1rem;
}

.react-datepicker__calendar-icon {
  font-size: 1.4rem;
  height: fit-content;
}

/* Date Filter */
.dateFilter-container {
  text-align: center;
}

.dateFilter-container label input {
  padding-left: 1rem;
  margin: 0 0.7rem;
}

.dateRange {
  margin: 0.5rem 0;
}

.highlightedText {
  color: rgb(226, 43, 43);
  font-size: 1.3rem;
  font-weight: bold;
}

/* Bottom Portion */
.bottomPortion {
  display:flex;
  justify-content: center;
  margin-left: 5%;
}

.leftColumn {
  display: flex;
}

.radioLabel {
  font-size: 1.3rem;
}

li {
  list-style: none;
}

.empty {
  color: #474747;
}

.date-container, .time-container {
  width: 13vw;
  text-align: center;
}

.rightColumn {
  width: 50%;
}

button {
  padding: 0.2rem 1.5rem;
  border-radius: 6px;
  background-color: rgb(225, 147, 3);
  font-weight: bold;
}

button:hover {
  background-color: rgb(71, 71, 221);
  font-weight: bold;
}

button.copied {
  background-color: green;
}